.remark-slide-content .footer {
	position: absolute;
	bottom: 0.8rem;
	left: 2rem;
    color: gray;
}

.remark-slide-content .li-cls {
	line-height: 0.7;
}

.remark-slide-content .footer-separator {
    position: absolute;
    bottom: 2.5rem;
    left: 0rem;
    width: 100%;
    border-top: solid 1px gray;
}

.remark-container {
    background-color: gray;
}

.remark-slide-content .result {
    	color: Maroon;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    padding: 5px;
    border: 1px solid black;
}


